* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 130px;
    background-color: #9cd6f4;

}

#logo {
    height: 50px;
    width: 200px;
    margin-top: 35px;
    margin-left: 10px;

}


.titolo {
    padding-left: 10px;
    margin-top: 30px;
}

main {
    padding-left: 10px;
    margin-top: 30px;
}

h1 {
    font-size: 40px;
}

.autore {
    color: grey;

}

a {
    color: #4ea0ff;
    text-decoration: none;
}

figure {
    margin-top: 30px;
    padding-left: 10px;
}

figcaption {
    font-size: 10px;
}

.evidenziato {

    background-color: yellow;
}

.unordered-list {
    margin-top: 30px;
    padding-left: 10px;
    margin-left: 1rem;
}